


body {
    font-family: Arial, Helvetica;
    background-color: #A4513F;
    color: #E1BBB2;

}

.container {
    margin-top: 20px;
}


.card {
    background-color: #847586;
}

.footer {
    text-align: center;
    padding: 10px 0;
}
